body {
  margin: 0px;
  background-image: url("./../images/Ironistic-background-long.webp");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
}
.w-12 {
  width: 100%;
}
.w-6 {
  width: 50%;
}
.text-align-center{
  text-align: center !important;
}


